oruxmapsextension.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.oruxmaps.com/oruxmapsextensions/1/0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="oruxmapsextensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ext">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:byte">
                <xs:attribute type="xs:string" name="type"/>
                <xs:attribute type="xs:byte" name="subtype"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="bpm"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>